<!-- Header and Nav -->

<div class="clearfix">
  <div class="site_headline_left">
    <h1 id="site_header"><%= link_to "It's never too late to hit restart", root_path %></h1>
    <h4 id="site_tagline">a blog by ebdrummond</h4>
  </div>

  <div class="site_headline_right">
    <%= link_to image_tag("github.png"), "http://github.com/ebdrummond", :target => "_blank" %>
    <%= link_to image_tag("linked_in.png"), "http://www.linkedin.com/pub/erin-drummond/a/59/943/", :target => "_blank" %>
    <%= link_to image_tag("twitter.png"), "http://twitter.com/ebdrummond", :target => "_blank" %>
  </div>
</div>

<nav class="top-bar">
  <section class="top-bar-section">
    <div class="row">
      <div class="twelve columns">
        <ul class="left" id="nav_bar">
          <li class="divider"></li>
          <li><a href="/">Professional Posts</a></li>
          <li class="divider"></li>
          <li class="active"><a href="personal_index">Personal Musings</a></li>
          <li class="divider"></li>
          <li><a href="about_me">About Me</a></li>
          <li class="divider"></li>
          <li><a href="resume">Resume</a></li>
          <li class="divider"></li>
        </ul>
      </div>
    </div>
  </section>
</nav>

<!-- End Header and Nav -->


<div class="row">
  <div class="eight columns">
    <% @posts.each do |post| %>
    <div class="row" id="post">
      <p id="post_title"><%= link_to post.title, post_path(post) %></p>
      <p id="post_body"><%= simple_format(post.body) %></p>
      <% if post.tag_list != "" %>
        <% post.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag) %>
        <% end %>
      <% end %>
    </div>
    <% end %>

<%= paginate @posts %>


    <% if current_user %>
      <br>
      <br>
      <%= button_to "Create new post", new_post_path, method: :get, class: "radius button" %>
    <% end %>
  </div>

  <div class="three columns offset-by-one">
    <div id="post">
      <h5 id="recent_posts">Recent posts:</h5>
      <% @recent_posts.each do |post| %>
        <p id="recent_post_item"><%= link_to ("#{post.title}"), post_path(post) %><%= " - #{post.published_date}" %></p>
      <% end %>
    </div>

    <div id="post">
      <h5 id="recent_posts">Tags:</h5>
      <% @tags.each do |tag| %>
        <p id="recent_post_item"><%= link_to ("#{tag.name}"), tag_path(tag) %><%= " (#{tag.article_count})" %></p>
      <% end %>
    </div>
  </div>
</div>


<% if current_user %>
  <p id="login"><%= link_to "Log out", logout_path %></p>
<% end %>