<!-- Header and Nav -->

<div class="clearfix">
  <div class="site_headline_left">
    <h1 id="site_header"><%= link_to "It's never too late to hit restart", root_path %></h1>
    <h4 id="site_tagline">a blog by ebdrummond</h4>
  </div>

  <div class="site_headline_right">
    <%= link_to image_tag("github.png"), "http://github.com/ebdrummond", :target => "_blank" %>
    <%= link_to image_tag("linked_in.png"), "http://www.linkedin.com/pub/erin-drummond/a/59/943/", :target => "_blank" %>
    <%= link_to image_tag("twitter.png"), "http://twitter.com/ebdrummond", :target => "_blank" %>
  </div>
</div>

<nav class="top-bar">
  <section class="top-bar-section">
    <div class="row">
      <div class="twelve columns">
        <ul class="left" id="nav_bar">
          <li class="divider"></li>
          <li><a href="/">Professional Posts</a></li>
          <li class="divider"></li>
          <li><a href="personal_index">Personal Musings</a></li>
          <li class="divider"></li>
          <li><a href="about_me">About Me</a></li>
          <li class="divider"></li>
          <li class="active"><a href="resume">Resume</a></li>
          <li class="divider"></li>
          <li><a href="portfolio">Portfolio</a></li>
          <li class="divider"></li>
        </ul>
      </div>
    </div>
  </section>
</nav>

<!-- End Header and Nav -->

<div class="row">
  <div class="twelve columns">

  <h1>Erin Drummond</h1>

  <div class="contact clearfix">
    <div class="five columns">e.b.drummond@gmail.com</div>
    <div class="five columns">1938 Pennsylvania Street #4401<br/>
    Denver Colorado 80203</div>
    <div class="two columns">202.255.5854</div>
  </div>

    <div class="three columns">
      <h2>Education</h2>
    </div>

    <div class="nine columns">
      <p id="resume-first"><strong>Intensive web developer training program</strong>, graduating July 2013<br>
      gSchool, Denver, Colorado</p>
      <p id="resume"><strong>B.A., Social Relations and Policy</strong>, James Madison College<br>
      <strong>B.A., Anthropology</strong>, specialization in sociocultural anthropology<br>
      Michigan State University, East Lansing, Michigan</p>
      <p id="resume"><strong>Study Abroad</strong>:
      <ul id="li-resume">
        <li>Public Affairs in Cambridge, U.K.</li>
        <li>Intensive Japanese Language Study in Hikone, Japan</li>
      </ul>
      </p>
    </div>

    <div class="three columns">
      <h2>Work Experience</h2>
    </div>

    <div class="nine columns">
      <p id="resume-first"><strong>Manager, Deal Quality and Programming</strong>, August 2012 - December 2012<br>
      LivingSocial, Washington DC</p>
      <ul id="li-resume">
        <li>Managed a team of 9 market programmers with a combined quarterly revenue goal of $13.4 million</li>
        <li>Partnered with sales management to plot market strategy and resolve escalations between sales representatives and market programmers</li>
        <li>Served as representative for the Deal Quality and Programming department on new product development and pilot testing and strategic marketing campaigns, and led departmental training and roll out</li>
        <li>Oversaw merging of market analyst and market programmer roles within the team into one combined job function</li>
        <li>Co-created the Operations Ambassador program to increase communication and teamwork across departments within the Operations Unit</li>
      </ul>
      <br/>
      <p id="resume"><strong>Senior Market Programmer</strong>, November 2010-August 2012<br>
      LivingSocial, Washington DC<br></p>
      <ul id="li-resume">
        <li>Worked with sales representatives to craft online daily deal promotions that maximize both revenue and customer experience</li>
        <li>Conducted analysis of past deal performance and market trends to determine optimal deal structures, tailored to each individual market</li>
        <li>Evaluated incoming deals to ensure specific guidelines and quality standards were met</li>
        <li>Prioritized and scheduled promotions to maximize performance</li>
        <li>Managed inventory by market and deal category</li>
        <li>Served as primary point of contact between the operations and sales departments during development and scheduling of promotions</li>
        <li>Provided training, guidance, and mentoring to junior members of the Deal Quality and Programming team and new hires within other business units</li>
        <li>Pilot tested new deal vetting process, and rolled out training domestically and internationally</li>
        <li>Created and/or promoted various culture programs aimed at increasing employee morale and teambuilding</li>
      </ul>
      <br/>
      <p id="resume"><strong>National Contracts Scheduler</strong>, April 2008-November 2010<br>
      Diversified Reporting Services, Washington DC</p>
      <ul id="li-resume">
        <li>Led relationship management with Securities and Exchange Commission (SEC) staff and national subcontractors through establishing open lines of communication and nurturing relationships to resolve complaints and ensure client satisfaction</li>
        <li>Assisted in managing national reporting contract with the SEC</li>
        <li>Gradually expanded responsibilities of National Contracts Scheduler by demonstrating aptitude in relationship management and creative problem-solving, and willingness to go above and beyond original position description to satisfy clients and ensure contract compliance</li>
        <li>Negotiated favorable billing rates with potential subcontractors to reduce costs</li>
        <li>Ensured accuracy and quality of transcripts sent out and adhered to specific guidelines of each national contract through proofreading and editing</li>
        <li>Managed production and distribution of transcripts on a daily basis</li>
        <li>Managed subcontractor compliance with contract terms</li>
        <li>Maintained database of all testimonies covered for clients</li>
      </ul>
      <br/>
      <p id="resume"><strong>Project Assistant, Financial Education</strong>, June 2007 - March 2008<br>
      Microfinance Opportunities, Washington DC</p>
      <ul id="li-resume">
        <li>Provided comprehensive logistical and administrative support to the Global Financial Education Program (GFEP) team for training of trainers workshops held in Brazil, China, and Egypt, and research delegations in the Philippines and Mexico</li>
        <li>Managed event planning and coordination for three day summit in Washington, DC with 12 international participants</li>
        <li>Drafted and edited program materials</li>
        <li>Attended meetings and conferences as an organizational delegate</li>
        <li>Coordinated sales and shipping of all GFEP materials</li>
        <li>Assisted in basic research and proposal writing for new grants</li>
      </ul>
      <br/>
      <p id="resume"><strong>Undergraduate Intern</strong>, July 2005 - May 2007<br>
      Center for Gender in Global Context, Michigan State University</p>
      <ul id="li-resume">
        <li>Researched for, wrote for, and edited WID publications</li>
        <li>Wrote review of research report which was published in the WID bulletin</li>
        <li>Collaborated with co-workers to plan and coordinate events and host visiting lecturers</li>
        <li>Conducted independent research to update an annotated bibliography</li>
        <li>Assisted in updating and maintaining program web page</li>
        <li>Provided research support in grant-writing</li>
        <li>Provided administrative support to a program staff of 15 people</li>
      </ul>
    </div>

    <div class="three columns">
      <h2>Awards</h2>
    </div>

    <div class="nine columns">
      <p id="resume-first"><strong>LivingSocial Make Strong Moves Award</strong><br/>
      First ever Make Strong Moves award granted for embodying this core company value by looking for original ways to make a big difference</p>
      <p id="resume"><strong>LivingSocial Live Hungry Award</strong><br/>
      Awarded for embodying this core company value by acting as an entrepreneur and aggressively moving fast with a new idea</p>
      <p id="resume"><strong>LivingSocial Shark Tank Best New Idea Award</strong><br>
      Awarded for introducing the idea of <a href="https://www.livingsocial.com/events/389998-bacon-n-beer-one-hour-tasting">Beer and Bacon Tasting</a> to our live events venue, which sold over 3,700 vouchers and grossed over $70,000 in revenue</p>
    </div>
  </div>

  </div>
</div>